@layer theme {
  @theme {
    --font-poppins: "Poppins-Regular";
    --font-poppins-medium: "Poppins-Medium";
    --font-poppins-semibold: "Poppins-SemiBold";
    --font-poppins-bold: "Poppins-Bold";
    --font-sans: "Poppins-Regular";
  }
}

:root {
  --font-poppins: "Poppins-Regular";
  --font-poppins-medium: "Poppins-Medium";
  --font-poppins-semibold: "Poppins-SemiBold";
  --font-poppins-bold: "Poppins-Bold";
  --font-sans: "Poppins-Regular";
}
